<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <section>
        <h1>Ingreso</h1>
        <form action="/login" method="post" target="_self">
            <label for="email">Mail</label>
            <input type="text" name="email">
            <label for="password">Contrase単a</label>
            <input type="text" name="password">
            <button type="submit">Ingresar</button>
        </form>
        <p>多No tenes cuenta?</p>
        <a href="/register">Registrate</a>
        <p>多No recuerdas tu contrase単a?</p>
        <a href="/reset-password">Restaurala</a>
    </section>
</body>

</html>