<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <h1>Lista de Productos en Tiempo Real</h1>
        {{!-- <form id="productForm" onsubmit="submitProductForm(event)">
            <label for="productName">Nombre del Producto:</label>
            <input type="text" id="productName" required>

            <label for="productDescription">Descripción del Producto:</label>
            <input type="text" id="productDescription" required>

            <label for="productPrice">Precio del Producto:</label>
            <input type="text" id="productPrice" required>

            <label for="action">Acción:</label>
            <select id="action" required>
                <option value="add">Agregar</option>
                <option value="delete">Eliminar</option>
            </select>

            <button type="submit">Enviar</button>
        </form> --}}
        <ol id="productList">
            {{#each productos}}
                <li>{{this.title}}</li>
                <br>
                <ul>
                    <li>{{this.description}}</li>
                    <li>Precio: ${{this.price}}</li>
                </ul>
                <br>
            {{/each}}
        </ol>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>
</body>

</html>
