<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <section>
        <h1>Registro</h1>
        <form action="/register" method="post" target="_self">
            <label for="name">Nombre</label>
            <input type="text" name="name">
            <label for="lastname">Apellido</label>
            <input type="text" name="lastname">
            <label for="email">Mail</label>
            <input type="text" name="email">
            <label for="password">Contraseña</label>
            <input type="text" name="password">
            <button type="submit">Registrar Usuario</button>
        </form>
        <p>¿Tenes cuenta?</p>
        <a href="/login">Ingresá</a>
    </section>
</body>

</html>